{% extends 'base.html.twig' %}

{% block body %}

    <h1>Kategorijos</h1>
    
    <h2>Atnaujinti kategoriją</h2>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}