{% extends 'base.html.twig' %}

{% block body %}
    <h1>"Working Hours" home page</h1>
    <p>
        This page works like this: you create a category of the works, then add projects to this category, and then count your time spend on project.
    </p>
    <a href="/categories" class="btn btn-success">Get started</a>
{% endblock %}
